<p class="weather-title">Sensor info</p>
<hr class="weather-hr">
<table class="weather-table">
    <thead>
        <tr class="weather-table-head">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{data.name}}</th>
            <th>{{data.temperature}} °C <i class="fas fa-thermometer-three-quarters fa-1x"></i></th>
            <th>{{data.humidity}}% <i class="fas fa-tint"></i></th>
        </tr>
    </tbody>
</table>